/* ID Selector */
/* Places the timer to the right of the page */
#count
{
    position: absolute;
    right: 0;
    width: 60px;
    height: 120px;
}

/* Element Selectors */
/* Positions the header 1 */
/* h1 {
    text-align: center;
    position: absolute;
    top: 30px;
    right: 330px;
    left: 340px;
} */

/* Positions the paragraph text */
/* p {
    text-align: center;
    position: absolute;
    top: 100px;
    right: 330px;
    left: 340px;
} */

/* Element Selector */
/* Sets font style, margin, and background color */
body {
    font-family: "Georgia", "Helvetica Neue", "Benton Sans", "Calibri", sans-serif;
    margin: 2em;
    background-color: #eff5f8;
}

/* Class Selector */
/* Styles and aligns the container class */
.container {
    display: block;
    margin: 60px auto;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80vw;
    background-color: #f0ead6;
    padding-top: 20px;
}

/* Class Selector */
/* Aligns the carouselbox class */
.carouselbox {
    display: block;
    margin: auto;
    width: 300px;
    height: 200px;
    cursor: pointer;
    padding-bottom: 40px;
}

/* Class Selector */
/* Centers the previous button's text and gives the width and height of the button */
.prev {
    text-align: center;
    width: 100px;
    height: 30px;
}

/* Class Selector */
/* Centers the next button's text and gives the width and height of the button */
.next {
    text-align: center;
    width: 100px;
    height: 30px;
}

/* Class Selector */
/* Sets the padding in relation to the bottom of the wrapper */
.wrapper {
    padding-bottom: 30px;
}

/* Class Selector */
/* Sets the button height relative to the top of the browser window */
/* Sets button position away from normal position */
.timer {
    height: 140px;
    position: relative;
}

/* Class Selector */
/* Centers the button */
.center-button {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ID Selector */
/* Sets color for button and button text */
/* Sets button size */
#start {
    background-color: purple;
    border: purple;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    
}

.box:hover {
    background-color: plum;
}

