/* Class Selector */
/* Sets the height relative to the top of the browser window */
/* Sets position away from normal position */
.container {
    height: 200px;
    position: relative;
}

/* Class Selector */
/* Centers the button */
.center {
    margin: 0;
    position: absolute;
    top: 150%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ID Selector */
/* Sets color for button and button text */
/* Sets button size */
#start {
    background-color: purple;
    border: purple;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    
}

/* .button:hover {
    background-color: plum;
} */